In [160]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import plotly.plotly as py
import plotly.graph_objs as go
import plotly

import datetime as dt
import re

import seaborn as sns

from sklearn.linear_model import LinearRegression

In [99]:
snp = pd.read_csv('SNP500.csv')

In [117]:
crude = pd.read_csv('Crude_oil.csv', delimiter = '\t')

In [101]:
snp.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2013-12-10,1807.599976,1808.520020,1801.750000,1802.619995,1802.619995,3117150000
1,2013-12-11,1802.760010,1802.969971,1780.089966,1782.219971,1782.219971,3472240000
2,2013-12-12,1781.709961,1782.989990,1772.280029,1775.500000,1775.500000,3306640000
3,2013-12-13,1777.979980,1780.920044,1772.449951,1775.319946,1775.319946,3061070000
4,2013-12-16,1777.479980,1792.219971,1777.479980,1786.540039,1786.540039,3209890000

In [102]:
crude.head()

        Date  Price   Open   High    Low     Vol. Change %
0  13-Dec-13  96.60  97.58  97.62  96.26  233.16K   -0.92%
1  16-Dec-13  97.48  96.55  97.69  96.21  187.59K    0.91%
2  17-Dec-13  97.22  97.30  97.90  97.00  120.13K   -0.27%
3  18-Dec-13  97.80  97.30  98.01  97.02   84.63K    0.60%
4  19-Dec-13  98.77  97.69  99.17  97.50   23.58K    0.99%

In [103]:
snp = snp.iloc[3:, :]

In [104]:
snp = snp.reset_index(drop = True)

In [105]:
snp.tail()

,Date,Open,High,Low,Close,Adj Close,Volume
1250,2018-11-30,2737.760010,2760.879883,2732.760010,2760.169922,2760.169922,4658580000
1251,2018-12-03,2790.500000,2800.179932,2773.379883,2790.370117,2790.370117,4186060000
1252,2018-12-04,2782.429932,2785.929932,2697.179932,2700.060059,2700.060059,4499840000
1253,2018-12-06,2663.510010,2696.149902,2621.530029,2695.949951,2695.949951,5141470000
1254,2018-12-07,2691.260010,2708.540039,2623.139893,2633.080078,2633.080078,4216690000

In [106]:
crude.tail()

           Date  Price   Open   High    Low     Vol. Change %
1308   5-Dec-18  52.89  52.59  54.44  52.16  624.91K   -0.68%
1309   6-Dec-18  51.49  52.93  53.30  50.08  987.27K   -2.65%
1310   7-Dec-18  52.61  51.76  54.22  50.60  987.72K    2.18%
1311   9-Dec-18  52.40  52.16  52.57  52.06        -   -0.40%
1312  10-Dec-18  50.95  52.44  52.80  50.57        -   -2.77%

In [107]:
snp['Date'][0]

'2013-12-13'

In [108]:
crude['Date'][0]

'13-Dec-13'

In [109]:
for i in range(crude.shape[0]):
    if crude['Vol.'][i][-1] == 'K':
        crude['Vol.'][i] = re.sub('K', '', crude['Vol.'][i])
        crude['Vol.'][i] = float(crude['Vol.'][i]) * 1000
        
    elif crude['Vol.'][i][-1] == 'M':
        crude['Vol.'][i] = re.sub('M', '', crude['Vol.'][i])
        crude['Vol.'][i] = float(crude['Vol.'][i]) * 1000000

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [110]:
crude['Vol.'][crude['Vol.'] == '-'] = np.nan

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

## Let's only consider only the prices

In [118]:
snp_price = snp.iloc[:, [0, 4]]

In [119]:
crude_price = crude.iloc[:, [0, 1]]

In [120]:
snp_price['Date'][0]

'2013-12-13'

In [121]:
snp_price['Date'] = snp_price['Date'].map(lambda x: dt.datetime.strptime(x, '%Y-%m-%d'))

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [122]:
crude_price['Date'] = crude_price['Date'].map(lambda x: dt.datetime.strptime(x, '%d-%b-%y'))

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [123]:
crude_price.head()

        Date  Price
0 2013-12-13  96.60
1 2013-12-16  97.48
2 2013-12-17  97.22
3 2013-12-18  97.80
4 2013-12-19  98.77

In [125]:
snp_price.head()

        Date        Close
0 2013-12-13  1775.319946
1 2013-12-16  1786.540039
2 2013-12-17  1781.000000
3 2013-12-18  1810.650024
4 2013-12-19  1809.599976

In [143]:
data = [go.Scatter(x=snp_price.Date, y=snp_price.Close)]
py.iplot(data)

In [145]:
data = [go.Scatter(x=crude_price.Date, y=crude_price.Price)]
py.iplot(data)

In [147]:
trace1 = go.Scatter(x=snp_price.Date, y=snp_price.Close)
trace2 = go.Scatter(x=crude_price.Date, y=crude_price.Price)

fig = plotly.tools.make_subplots(rows=2, cols=1)

fig.append_trace(trace1, 1, 1)
fig.append_trace(trace2, 2, 1)

fig['layout'].update(height=1000, width=800, title='SNP and Crude')
py.iplot(fig, filename='simple-subplot-with-annotations')

This is the format of your plot grid:
[ (1,1) x1,y1 ]
[ (2,1) x2,y2 ]

In [148]:
snp_price = snp_price.sort_values(by = ['Date'], ascending = [True])
snp_price.set_index('Date', inplace = True)

In [149]:
snp_price = snp_price.resample('D').ffill().reset_index()

In [151]:
snp_price.head()

        Date        Close
0 2013-12-13  1775.319946
1 2013-12-14  1775.319946
2 2013-12-15  1775.319946
3 2013-12-16  1786.540039
4 2013-12-17  1781.000000

In [154]:
crude_price = crude_price.sort_values(by = ['Date'], ascending = [True])
crude_price.set_index('Date', inplace = True)
crude_price = crude_price.resample('D').ffill().reset_index()

In [155]:
print(crude_price.shape)
print(snp_price.shape)

(1824, 2)
(1821, 2)

In [158]:
snp_price['Close'].corr(crude_price['Price'])

-0.1650335254134783

## Correlation between both S&P500 and Crude Oil price is -0.16

In [170]:
df_linear = pd.DataFrame([snp_price['Close'], crude_price['Price'][:1820]])

In [172]:
df_linear = df_linear.transpose()

In [174]:
df_linear.columns = ['SNP500', 'Crude']

In [176]:
from sklearn.model_selection import train_test_split

In [183]:
X_train, X_test, Y_train, Y_test = train_test_split(df_linear['SNP500'].values, df_linear['Crude'].values, test_size = 0.2, random_state = 0)

In [185]:
regressor = LinearRegression()

In [190]:
regressor.fit(X_train.reshape(-1,1), Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [192]:
Y_pred = regressor.predict(X_test.reshape(-1,1))

In [193]:
import statsmodels.api as sm

/anaconda3/lib/python3.6/site-packages/statsmodels/compat/pandas.py:56: FutureWarning:

The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.

In [194]:
model = sm.OLS(Y_train, X_train)

In [197]:
results = model.fit()

In [198]:
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.875
Model:                            OLS   Adj. R-squared:                  0.875
Method:                 Least Squares   F-statistic:                 1.015e+04
Date:                Tue, 11 Dec 2018   Prob (F-statistic):               0.00
Time:                        00:27:56   Log-Likelihood:                -6602.9
No. Observations:                1456   AIC:                         1.321e+04
Df Residuals:                    1455   BIC:                         1.321e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1             0.0262      0.000    100.772      0.000       0.026       0.027
==============================================================================
Omnibus:                      316.330   Durbin-Watson:                   1.955
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              551.700
Skew:                           1.473   Prob(JB):                    1.58e-120
Kurtosis:                       3.646   Cond. No.                         1.00
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""